{% extends 'layouts/base.twig' %}

{% block layout_body %}
<main>
    <div class="container">
        <h1>Dashboard</h1>
        <p>
            Hey {{ AuthUser.name}}, thanks for trying collaborama!
        </p>
        <p>
            Our goal is to <strong>save you time</strong> by cutting down on
            boring, unnecessary meetings.
        </p>
        <p>
            We'll help you to get the answers you need, without a meeting being the default option.
        </p>
        <p>
            It all starts by creating a topic, which you'll then add questions to, before sharing this
            with your colleagues for feedback.
        </p>
        {% if MyTopics|length == 0 %}
        <p>
            Click the button below to get started.
        </p>
        {% endif %}
        {% if MyTopics|length >= TopicLimit %}
            <p>
                <strong>You can't create any more topics right now.</strong>
            </p>
        {% else %}
            <a class="btn btn-primary" href="{{ route('collab.topic.create') }}" role="button">+ Start a new topic</a>
        {% endif %}
        <h2>Your topics</h2>
        <p>
            There's a temporary limit of {{ TopicLimit }} topics you can create.
        </p>
        {% if MyTopics|length %}
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Topic</th>
                    <th class="text-center">Questions</th>
                    <th class="text-center">Answers</th>
                    <th class="text-center">Access</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Public link</th>
                    <th class="text-center">Created</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for item in MyTopics %}
                    <tr>
                        <td class="text-center">{{ item.id }}</td>
                        <td>
                            <a href="{{ route('collab.topic.manage', {'topic': item}) }}">
                                {{ item.topic }}
                            </a>
                        </td>
                        <td class="text-center">
                            {{ item.questions.count }}
                        </td>
                        <td class="text-center">
                            {{ item.answers.count }}
                        </td>
                        <td class="text-center">{{ item.access_type }}</td>
                        <td class="text-center">{{ item.status }}</td>
                        <td class="text-center">
                            <a href="{{ route('collab.topic.view', {'shareCode': item.share_code}) }}">
                                View
                            </a> :
                            <a class="js-share-link-copy" data-id="{{ item.share_code }}" href="javascript:void(0);">Copy link</a>
                        </td>
                        <td class="text-center">{{ item.created_at }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have not created any topics yet. Why not give it a try?</p>
        {% endif %}
    </div>
</main>

<script>
    var shareCodeBaseUrl = '{{ route('collab.topic.view') }}/';
    $(function() {
        $('.js-share-link-copy').on('click', function() {
            shareCode = $(this).attr('data-id');
            textToCopy = shareCodeBaseUrl + shareCode;
            //window.alert(textToCopy);
            copyToClipboard(textToCopy);
        });
    });
</script>

{% endblock layout_body %}
