<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if TopTitle %}{{ TopTitle }} - collaborama{% else %}collaborama{% endif %}</title>

    {% if APP_ENV == 'prod' %}
        {% include 'components/ga.twig' %}
    {% endif %}

    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/assets/dist/js/jquery-3.7.0.min.js"></script>
    <script src="/assets/js/copy-to-clipboard.js"></script>

    <script src="https://unpkg.com/htmx.org@1.9.5"></script>

    <link href="/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/assets/fontawesome/css/brands.css" rel="stylesheet">
    <link href="/assets/fontawesome/css/solid.css" rel="stylesheet">

    <link href="/css/collaborama.css?v=230903" rel="stylesheet">

    {% block layout_header_custom %}{% endblock layout_header_custom %}

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">collaborama</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a id="nav-link-home" class="nav-link" aria-current="page" href="/">Home</a>
                </li>
            {% if AuthUser %}
                <li class="nav-item">
                    <a id="nav-link-user-dashboard" class="nav-link" href="{{ route('user.dashboard') }}">Dashboard</a>
                </li>
                    {% if AuthUser.isStaff() %}
                    <li class="nav-item">
                        <a id="nav-link-staff-dashboard" class="nav-link" href="{{ route('staff.dashboard') }}">Staff</a>
                    </li>
                    {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ route('logout') }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a id="nav-link-login" class="nav-link" href="{{ route('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link-register" class="nav-link" href="{{ route('register') }}">Register</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block layout_body %}{% endblock layout_body %}

<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>

<script>
    var currentPage = window.location.pathname;
    switch (currentPage) {
        case '/':
            $('#nav-link-home').addClass('active');
            break;
        case '/login':
            $('#nav-link-login').addClass('active');
            break;
        case '/register':
            $('#nav-link-register').addClass('active');
            break;
        case '/user/dashboard':
            $('#nav-link-user-dashboard').addClass('active');
            break;
        case '/staff/dashboard':
            $('#nav-link-staff-dashboard').addClass('active');
            break;
    }
</script>

</body>

</html>
