{% extends 'layouts/base.twig' %}

{% block layout_body %}
<main>
    <div class="container">
        <h1>Manage topic</h1>
        {% if CreateSuccess == 1 %}
            <div class="alert alert-success">
                <div class="alert-fa">
                    <i class="fa-solid fa-check"></i>
                </div>
                <div>
                    Successfully created topic: <strong>{{ Topic.topic }}</strong>.
                    <br>Add some questions below.
                </div>
            </div>
        {% endif %}
        {% if Topic.status == 'Closed' %}
            <div class="alert alert-danger">
                <div class="alert-fa">
                    <i class="fa-solid fa-circle-xmark"></i>
                </div>
                <div>
                    <strong>This topic is closed</strong>.
                    <br>No further answers can be posted.
                </div>
            </div>
        {% endif %}
        {% if Topic.questions.count >= 6 %}
            <div class="alert alert-warning">
                <div class="alert-fa">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                </div>
                <div>
                    <strong>We recommend a maximum of 6 questions per topic</strong>.
                    <br>
                    Keeping topics focused and not flooding people with questions can help to
                    keep the answers focused and helpful.
                    <br>
                    Adding a lot of questions can mean your topic is a bit broad.
                    However, you can add more if you wish.
                </div>
            </div>
        {% endif %}
        <p>Topic: {{ Topic.topic }}</p>
        <p>
            <a href="{{ route('collab.topic.view', {'shareCode': Topic.share_code}) }}">View your topic</a>.
        </p>
        <h2>Questions</h2>
        <a href="{{ route('collab.question.create', {'topic': Topic}) }}" class="btn btn-primary">Add question</a>
        {% if Topic.questions|length %}
            <br><br>
            <table class="table table-bordered table-sm">
                <tbody>
                {% for item in Topic.questions %}
                    <tr>
                        <th class="table-dark">{{ item.question_no }}</th>
                        <th class="table-dark">{{ item.question }}</th>
                        <th class="table-dark"></th>
                    </tr>
                    {% if item.answers.count > 0 %}
                        <tr>
                            <th class="table-info">Posted by</th>
                            <th class="table-info">Answer</th>
                            <th class="table-info">Date</th>
                        </tr>
                        {% for answer in item.answers %}
                        <tr>
                            <td>
                                {{ answer.user.name }}
                            </td>
                            <td>
                                {{ answer.answer }}
                            </td>
                            <td>
                                {{ answer.created_at }}
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2">
                                <em>No answers yet.</em>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% else %}
            <p>You've not added any questions yet.</p>
        {% endif %}
    </div>
</main>

{% endblock layout_body %}
