{% extends 'layouts/base.twig' %}

{% block layout_body %}
<main>
    <div class="container">
        <h1>Manage topic</h1>
        <p>Topic: {{ Topic.topic }}</p>
        <h2>Questions</h2>
        <a href="{{ route('collab.question.create', {'topic': Topic}) }}" class="btn btn-primary">Add question</a>
        {% if Topic.questions|length %}
            <br><br>
            <table class="table table-bordered table-sm">
                <tbody>
                {% for item in Topic.questions %}
                    <tr>
                        <th class="table-dark">{{ item.question_no }}</th>
                        <th class="table-dark">{{ item.question }}</th>
                        <th class="table-dark"></th>
                    </tr>
                    {% if item.answers.count > 0 %}
                        <tr>
                            <th class="table-info">Posted by</th>
                            <th class="table-info">Answer</th>
                            <th class="table-info">Date</th>
                        </tr>
                        {% for answer in item.answers %}
                        <tr>
                            <td>
                                {{ answer.user.name }}
                            </td>
                            <td>
                                {{ answer.answer }}
                            </td>
                            <td>
                                {{ answer.created_at }}
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2">
                                <em>No answers yet.</em>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% else %}
            <p>You've not added any questions yet.</p>
        {% endif %}
    </div>
</main>

{% endblock layout_body %}
