{% extends 'layouts/base.twig' %}

{% block layout_body %}
<main>
    <div class="container">
        <h1>View topic</h1>
        <table class="table table-bordered table-sm">
            <tr>
                <td>Created by</td>
                <td colspan="2">{{ Topic.user.name }}</td>
            </tr>
            <tr>
                <td>Topic</td>
                <td colspan="2">{{ Topic.topic }}</td>
            </tr>
            {% if Topic.questions|length %}
                <tr>
                    <th>Questions</th>
                    <th colspan="2"></th>
                </tr>
                {% for item in Topic.questions %}
                <tr>
                    <td>{{ item.question_no }}</td>
                    <td>{{ item.question }}</td>
                    <td>
                        <a href="{{ route('collab.answer.create', {'shareCode': Topic.share_code, 'question': item}) }}">
                            Post answer
                        </a>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</main>

{% endblock layout_body %}
